.heaader_descr {
    max-width: 100%;
    margin: 145px auto 0 auto;
    text-align: center;
}

.header_subtitle {
    font-weight: 400;
    font-size: 45px;
    line-height: 68px;
}

.header_title {
    font-size: 98.2924px;
    line-height: 147px;
    text-transform: uppercase;
}

.header_text {
    margin: 0 auto;
    max-width: 601px;
}

.header_btn {
    margin-top: 25px;
}

.header_btn .btn_content {
    margin-right: 84px;
    padding:0 55px 0 55px;
}

.header_btn .btn_content::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -26px;
    z-index: 101;
    width: 61px;
    height: 22px;
    background: url('../img/header/Arrow_btn.svg');
}

.header_btn .btn_content::after {
    content: '';
    position: absolute;
    top: 7px;
    right: -26px;
    z-index: 101;
    width: 61px;
    height: 22px;
    background: url('../img/header/Arrow_btn.svg');
}

.header_arrow {
    margin-top: 126px;
}

.header_arrow-link {
    display: flex;
    justify-content: center;
}

.header_arrow-line {
    width: 3px;
    height: 100px;
    border-left: 3px solid #fff;
}

.header_arrow-line:hover {
    border-left: 3px solid transparent;
    border-image: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
    border-image-slice: 1;
}

.left {
    transform: rotate(-60deg) translateX(-80px);
}

.right {
    transform: rotate(60deg) translateX(80px);
}


@media (max-width: 878px) {
    .heaader_descr {
        width: 100%;
        padding: 0 15px;
    }
    .header_arrow {
        margin-top: 50px;
    }
}

@media (max-width: 620px) {
    .header_subtitle {
        font-size: 30px;
        line-height: 45px;
    }
    
    .header_title {
        font-size: 60px;
        line-height: 90px;
    }

    .header_text {
        font-size: 16px;
        line-height: 23px;   
    }
}

@media (max-width: 410px) {
    .header_subtitle {
        font-size: 20px;
        line-height: 45px;
    }
    
    .header_title {
        font-size: 45px;
        line-height: 60px;
    }

}