.sales_wrapper {
    position: relative;
}

.sales_wrapper:before {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	bottom: 3px;
	right: 3px;
	background-color: #0F0B30;
	z-index: 1;
	border-radius: 41px;
}
.sales_wrapper:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
	z-index: -1;
	border-radius: 41px;

}

.sales_wrapper .sales_wrapper-content {
    padding: 90px 116px;
    z-index: 999;
	position: relative;
    background: linear-gradient(90deg, rgba(0, 240, 255, 0.21) 0%, rgba(255, 0, 122, 0) 100%);
    border-radius: 41px;
}
/* border end============================= */
.sales_title {
    font-size: 70px;
    line-height: 105px;
}

.sales_text {
    margin-top: 30px;
    max-width: 890px;
    font-weight: 400;
}

.sales_btn {
    margin-top: 43px;
}


@media (max-width: 1168px) {
    .sales_title {
        font-size: 60px;
        line-height: 90px;
    }
}

@media (max-width: 992px) {
    .sales_wrapper .sales_wrapper-content {
        padding: 50px 76px;
    }
}

@media (max-width: 768px) {
    .sales_title {
        font-size: 50px;
        line-height: 70px;
    }
}

@media (max-width: 676px) {
    .sales_text {
        font-size: 18px;
        line-height: 25px;
    }

    .btn .btn_content {
        padding: 0 38px;
    }
}

@media (max-width: 576px) {

    .sales_title {
        font-size: 40px;
        line-height: 50px;
    }

    .sales_wrapper .sales_wrapper-content {
        padding: 30px 50px;
    }
}

@media (max-width: 410px) {
    .sales_title {
        font-size: 35px;
        line-height: 40px;
    }

    .sales_text {
        font-size: 16px;
        line-height: 22px;
    }

    .sales_btn {
        margin-top: 30px;
    }
}

