*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

/* links */

a,
a:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

/* commons */

a:focus,
a:active {
    outline: none;
}

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p + p {
    margin-top: 1em;
}

ul {
    list-style: none;
}

img, svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

/* form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}

input ::-ms-clear {
    display: none;
}

input :focus, input :active, button :focus, button :active {
    outline: none;
}

button ::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* base */


body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
	font-style: normal;
    font-size: 14px;
    color: #fff;
    background: #0F0B30;
}

.none {
    display: none !important;
}

/* grid */

.container {
    width: 1420px;
    margin: 0 auto;
    padding: 0 15px;
    /* background: #00F0FF; */
}



/* style */

.title {
    background: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

/* btn================= */

.btn {
    position: relative;
}

.btn:before {
	content: "";
	position: absolute;
	top: 3px;
	left: 3px;
	bottom: 3px;
	right: 3px;
	background-color: #0F0B30;
	z-index: 1;
	border-radius: 50px;
}
.btn:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
	z-index: -1;
	border-radius: 50px;
}

.btn .btn_content {
    padding: 0 58px;
    z-index: 100;
	position: relative;
	font-size: 27.1328px;
    line-height: 70px;
    border-radius: 50px;
}

