*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

/* links */

a,
a:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

/* commons */

a:focus,
a:active {
    outline: none;
}

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p + p {
    margin-top: 1em;
}

ul {
    list-style: none;
}

img, svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

/* form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}

input ::-ms-clear {
    display: none;
}

input :focus, input :active, button :focus, button :active {
    outline: none;
}

button ::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* base */


body {
    font-family: 'Montserrat';
    font-weight: 600;
	font-style: normal;
    font-size: 14px;
    color: #737373;
}

.none {
    display: none !important;
}

/* grid */

.container {
    width: 1076px;
    margin: 0 auto;
    padding: 0 15px;

}